/*
Table of Contets
- Header

*/

section ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

section ul li {
	width: 100%;
}

aside section {
	background-color: var(--primary);
}

@media (width > 992px) {
	aside section {
		background-color: var(--tertiary);
	}

	aside div[data-panel] {
		position: relative;
	}

	aside div[data-panel]::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		box-shadow: inset -6px 0px 10px -6px var(--neutral-shadow);
	}
}

/* #region Header */
aside section > header {
	/* padding: 0 0.75rem; */
	position: relative;
}

aside section > header::after {
	content: '';
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid var(--secondary);
	background-color: var(--secondary);
	position: absolute;
	left: 50%;
	bottom: -15%;
	transform: translateX(-50%);
}

aside section > header h2 {
	font-size: 18px;
	color: var(--title-text-color);
	font-family: var(--title-font);
	font-weight: bold;
}

/* #endregion Header */

/* #region Thing Description Panel */
aside div[data-panel='thing-descriptions-panel']::after {
	background-color: var(--primary-800-25);
	/* height: 100vh; */
}

@media (width > 992px) {
	aside div[data-panel='thing-descriptions-panel'] section {
		position: relative;
		height: calc(100vh - var(--navbar-height));
	}
}

/* #endregion Thing Description Panel */

/* #region Affordance Panel */
aside div[data-panel='affordances-panel'] {
	position: relative;
}

@media (width > 992px) {
	aside section[data-panel='affordance-panel'] {
		height: calc((100vh - var(--navbar-height)) / 2);
	}
}
/* #region Affordance Panel */
