.code-section {
	--code-section__primary-clr: var(--neutral-200);
	--code-section__secondary-clr: var(--primary-text-color);

	background-color: var(--code-section__primary-clr);
	border: 2px solid var(--code-section__secondary-clr);
	border-radius: var(--small-border-radius);

	padding: 0.25rem;
}

.code-section[data-section-type='input'] {
	--code-section__primary-clr: var(--input-code-section__primary);
	--code-section__secondary-clr: var(--input-code-section__secondary);
}

.code-section[data-section-type='output'] {
	--code-section__primary-clr: var(--output-code-section__primary);
	--code-section__secondary-clr: var(--output-code-section__secondary);
}

.code-section header h3 {
	margin-bottom: 0;
	color: var(--code-section__secondary-clr);
	text-transform: capitalize;
	font-size: 20px;
}

.code-section header::after {
	content: none;
}

.code-section section {
	height: 30vh;
	overflow-y: auto;
}
