/*
	Table of Contents
	- General
	- Header
	- Body
*/

/* #region General */
.code-section {
	--code-section__primary-clr: var(--neutral-200);
	--code-section__secondary-clr: var(--primary-text-color);

	background-color: var(--code-section__primary-clr);
	border: 2px solid var(--code-section__secondary-clr);
	border-radius: var(--medium-border-radius);

	padding: 0.25rem;
}

.code-section[data-section-type='input'] {
	--code-section__primary-clr: var(--input-code-section__primary);
	--code-section__secondary-clr: var(--input-code-section__secondary);
}

.code-section[data-section-type='output'] {
	--code-section__primary-clr: var(--output-code-section__primary);
	--code-section__secondary-clr: var(--output-code-section__secondary);
}
/* #endregion General */

/* #region Header*/
.code-section header {
	border: none;
}

.code-section header h3 {
	margin-bottom: 0;
	color: var(--code-section__secondary-clr);
	text-transform: capitalize;
	font-size: 20px;
}

.code-section header img {
	width: 1.75rem;
	aspect-ratio: 1;
}

/* #endregion Header*/

/* #region Body */
.code-section section {
	height: 33vh;
	overflow-y: auto;
	margin-top: 0.25rem;
}
/* #endregion Body */
