@import 'colors.css';
@import 'fonts.css';
@import 'miscellaneus.css';

* {
	font-family: var(--primary-font);
	color: var(--primary-text-color);
}

*:is(:focus-visible) {
	outline: 2px solid var(--warning-400);
	outline-offset: -5px;
	/* outline: 2px solid var(--brand-color); */
	/* border-radius: var(--small-border-radius); */
}

::backdrop {
	--backdrop-color: #485e6b55; /* var(--neutral-600) */
}

hr {
	border-radius: 10px;
}

/* #region Buttons */
.button {
	padding: 5px;
	border-radius: var(--small-border-radius);
	letter-spacing: 1px;
	transition: var(--normal-transition-speed);
}

.button,
.button * {
	cursor: pointer;
}

.primary-btn {
	border: 2px solid var(--brand-color);
	color: var(--primary-text-color);
	border-radius: var(--medium-border-radius);
	font-weight: var(--bold-font-weight);
	background-color: var(--primary-100);
}

.primary-btn:hover {
	background: var(--primary);
	box-shadow: 0px 0px 5px var(--brand-color);
}

.secondary-btn {
	background-color: var(--tertiary);
	color: var(--secondary-text-color);
	border-radius: var(--small-border-radius);
	border: 1px solid var(--neutral-shadow);
}

.secondary-btn:hover {
	background-color: var(--secondary);
	color: var(--tertiary);
}

.light-btn {
	border: 1px solid var(--primary-text-color);
	color: var(--primary-text-color);
	background-color: var(--primary);
}

.transparent-btn {
	background-color: transparent;
	border: none;
}

.light-btn:hover {
	filter: brightness(90%);
}

.icon-btn {
	padding: 5px 10px !important;
}

.icon-btn.top-right-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}

/* #endregion Buttons */
