/*
 Colors marked as 500 are the original
 The others are variants
*/

:root {
	--primary-100: #cce4f3;
	--primary-200: #99c9e7;
	--primary-300: #66adda;
	--primary-400: #3392ce;
	--primary-500: #0077c2;
	--primary-600: #005f9b;
	--primary-700: #004774;
	--primary-800: #00304e;
	--primary-900: #001827;

	--success-100: #ccefdd;
	--success-200: #99dfbb;
	--success-300: #66cf98;
	--success-400: #33bf76;
	--success-500: #00af54;
	--success-600: #008c43;
	--success-700: #006932;
	--success-800: #004622;
	--success-900: #002311;

	--warning-100: #fce0d1;
	--warning-200: #fac1a3;
	--warning-300: #f7a275;
	--warning-400: #f58347;
	--warning-500: #f26419;
	--warning-600: #c25014;
	--warning-700: #913c0f;
	--warning-800: #61280a;
	--warning-900: #301405;

	--danger-100: #ecccd3;
	--danger-200: #da99a6;
	--danger-300: #c7667a;
	--danger-400: #b5334d;
	--danger-500: #a20021;
	--danger-600: #82001a;
	--danger-700: #610014;
	--danger-800: #41000d;
	--danger-900: #200007;

	--info-100: #d1faff;
	--info-200: #a4f5ff;
	--info-300: #76f1ff;
	--info-400: #49ecff;
	--info-500: #1be7ff;
	--info-600: #16b9cc;
	--info-700: #108b99;
	--info-800: #0b5c66;
	--info-900: #052e33;

	--neutral-100: #ffffff;
	--neutral-200: #dee3e7;
	--neutral-300: #9cacb6;
	--neutral-400: #7b919e;
	--neutral-500: #5a7586;
	--neutral-600: #485e6b;
	--neutral-700: #364650;
	--neutral-800: #242f36;
	--neutral-900: #090c0d;
}
