#search-bar {
	background-color: var(--secondary-color);
}

#search-bar form {
	width: 90%;
}

#search-bar input {
	background-color: inherit;

	font-weight: var(--medium-font-weight);
}

#search-bar input:focus {
	box-shadow: 0 0 0 0 transparent;
}

#search-bar ul {
	justify-content: space-evenly;
	align-items: center;
	width: 10%;
	padding: 0;
	list-style: none;
}

#search-bar button {
	background-color: transparent;
	border: none;
}
