.object-recap {
	gap: 0.75rem;
}

:where(.object-recap li, .object-recap li *) {
	color: var(--secondary-text-color);
}

.object-recap ul {
	padding-left: 0.75rem;
}

.object-recap div {
	padding: 0;
}

ul.object-recap ul {
	border-left: 2px solid var(--secondary);
	/* padding-left: 1.5rem; */
}

.object-recap li:not(:has(li))::after {
	content: '';
	border-bottom: 1px solid var(--tertiary);
	width: 100%;
	margin-right: 0.5rem;
}

.object-recap > li:last-child::after {
	width: 0px;
}
