:root {
	--primary-color: #0077c2;
	--secondary-color: #ddffd9;
	--tertiary-color: #6e6e6e;
	--accent-color: #00b3e3;
	--light-color: #fff;

	--primary-text-color: #000;
	--secondary-text-color: #000000bf;
	--tertiary-text-color: #00000080;

	--primary-font: 'Roboto';
	--secondary-font: 'Open Sans';
	--code-font: 'Fira Code';

	--regular-font-weight: 400;
	--medium-font-weight: 500;
	--medium-bold-font-weight: 600;
	--bold-font-weight: 700;

	--small-border-radius: 5px;
	--medium-border-radius: 10px;

	--slow-transition-speed: 500ms;
	--normal-transition-speed: 300ms;
	--fast-transition-speed: 100ms;
}

@font-face {
	font-family: 'Roboto';
	src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
	font-family: 'Fira Code';
	src: url(./assets/fonts/FiraCode-VariableFont_wght.ttf);
}

* {
	font-family: var(--primary-font);
	color: var(--primary-text-color);
}

*:focus {
	outline: 2px solid var(--accent-color);
	border-radius: var(--small-border-radius);
}

hr {
	border-radius: 10px;
}

/* #region Buttons */
.button {
	padding: 5px;
	border-radius: var(--small-border-radius);
	letter-spacing: 1px;
	transition: var(--normal-transition-speed);
}

.button,
.button * {
	cursor: pointer;
}

.primary-btn {
	background-color: var(--primary-color);
	border: 2px solid;
	border-color: var(--primary-color);
	color: var(--light-color);
}

.primary-btn:hover,
.primary-btn:focus {
	outline: none;
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.secondary-btn {
	background-color: var(--light-color);
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.secondary-btn:hover,
.secondary-btn:focus {
	outline: none;
	border-color: var(--accent-color);
	color: var(--accent-color);
	filter: brightness(95%);
}

.light-btn {
	border: 1px solid var(--tertiary-color);
	color: var(--primary-text-color);
	background-color: var(--light-color);
}

.transparent-btn {
	background-color: transparent;
	border: none;
}

.light-btn:hover {
	filter: brightness(90%);
}

.icon-btn {
	padding: 5px 10px !important;
}

.icon-btn.top-right-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}

/* #endregion Buttons */

.td-card-list {
	max-height: 80vh;
}

.prop-card-list {
	max-height: 34vh;
}
