li:not(:last-child) > .card:after {
	content: '';
	border-bottom: 2px solid var(--secondary);
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -10%;
}

.td-card-list {
	max-height: 80vh;
}

.prop-card-list {
	max-height: 34vh;
}
