.card {
	background-color: var(--primary-color);

	text-decoration: none;
	text-align: left;

	border-radius: var(--small-border-radius);
	filter: drop-shadow(0px 0px 4px var(--neutral-shadow));
}
.card:is(:active) {
	outline: 1px solid var(--brand-color-shadow) !important;
	box-shadow: 0 0 6px var(--brand-color-shadow);
}

.card[data-active='true'] {
	outline: 1px solid var(--brand-color) !important;
	box-shadow: 0 0 6px var(--brand-color);
}

.card h3.title {
	font-weight: 500;
	font-size: 22px;
	line-height: 22px;
	text-transform: capitalize;
}

.card:is(:focus, :hover) h3 {
	text-decoration: underline;
	color: var(--brand-color);
}

.card span.version {
	text-align: right;
	color: var(--secondary-text-color);
}

.card p.subtitle {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 15px;
	line-height: 12px;
}

.card .description {
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.card img.right-arrow {
	rotate: 180deg;
}

@media screen and (min-width: 768px) {
	.card {
		filter: none;
		border: none;
	}
}
