/* li:not(:last-child) > .card:after {
	content: '';
	border-bottom: 2px solid var(--secondary);
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -10%;
} */

.card-list {
	overflow-y: auto;
	overflow-x: hidden;
	gap: 0.5rem;
}

.affordance-card-list {
	height: 85%;
}

.prop-card-list::-webkit-scrollbar {
	width: 5px;
}

.card-list li:not(:last-child)::after {
	content: '';
	width: 90%;
	border-bottom: 1px solid var(--tertiary);
	margin-left: 5%;
	display: block;
}
