:where(.input-field),
button.add-array-item {
	width: 95%;
	border-radius: var(--small-border-radius);
	border: 1px solid var(--neutral-shadow);
	padding: 0.5rem;
	background-color: var(--tertiary);
	text-align: left;
	color: var(--secondary-text-color);
}
