:where(.input-field),
button.add-array-item {
	width: 100%;
	padding: 0.5rem;
	text-align: left;
	background-color: var(--tertiary);
	color: var(--secondary-text-color);
	border-radius: var(--small-border-radius);
	border: 1px solid var(--neutral-shadow);
}
